<p id="notice"><%= notice %></p>

<h1><center>Listing Blogs</center></h1>

<table class="table table-hover">
  <thead>
    <tr class="active">
      <th><center>Title</center></th>
      <th><center>Body</center></th>
      <th><center>Admin</center></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><center><%= link_to blog.title,blog, class: "btn btn-primary" %></center></td>
        <td><center><%= blog.body %></center></td>
        <td><center><%= blog.user.username %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

