@import "bootstrap-sprockets";
 @import "bootstrap";

.active{
    background-color: white;
    color: black;
   }
   
.table{
   color: black;
}   

.btn{
   background-color: white;
   color: black;
}

.field{
    color: black;
}

.actions{
    color: black;
}

.form-group{
    color: black;
}
    
