@import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background: image-url( "https://goo.gl/VnsXwr.jpg" ) #0092ce;
  background-repeat: no-repeat;
}

a:link { 
    text-decoration:none;
    
}


.active{
    background-color: white;
    color: black;
   }
   
.table{
   color: black;
}   

.btn{
   background-color: white;
   color: black;
}

.field{
    color: black;
}

.actions{
    color: black;
}

.form-group{
    color: black;
}
    
